<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="customcheckoutfield" frontName="customcheckoutfield">
            <module name="Qualdev_Customcheckoutfield" />
        </route>
    </router>
</config>
